a{
	color: #e30de3;
}

html{
	color: white;
	background: #005C97;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/*Animations for individual selections of the radio tracks*/
@keyframes playlistpulse{
	0%{background-color: #005C97}
	50%{background-color: #e30de3}
	100%{background-color: #005C97}
}
.titletext{
	background-color: black;
	text-align: center;
}
.title{
	text-align: center;
	font-family: 'Raleway', sans-serif;

}
/*End of animation section*/

/*Schedule CSS*/
table.tableizer-table {
		font-size: 14px;
		border: 1px solid #CCC; 
		font-family: 'Raleway', sans-serif;
		width: 100%;
} 
.tableizer-table td {
		padding: 4px;
		margin: 3px;
		border: 1px solid #CCC;
}
.tableizer-table th {
		background-color: #104E8B; 
		color: #FFF;
		font-weight: bold;
}
.tablemovement{
	padding-left: 0%;
}
#tabletitle{
	font-family: 'Raleway', sans-serif
}
.player{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.info{
	font-size: 20px;
	text-align: left;
	font-family: 'Raleway', sans-serif;
}
#yes{
	background-color: green;
	color: white;
}
#no{
	background-color: red;
	color: white;
}
#chatwing-embedded-a016c4e0-a8d4-11e8-8c4e-9b1b51e68fbe{
}
/*Start of Playlist Animation*/
.tr1{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}
.tr2{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 5s;	
}
.tr3{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 7s;	
}
.tr4{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 9s;	
}
.tr5{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 11s;	
}
.tr6{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 13s;	
}
.tr7{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 15s;	
}
.tr8{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 17s;	
}
.tr9{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 19s;
}
.tr10{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 21s;
}
.tr11{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 23s;	
}
.tr12{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 25s;
}
.tr13{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 27s;
}
.tr14{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 29s;
}
.tr15{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 31s;
}
.tr16{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 33s;
}
.tr17{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 35s;
}
.tr18{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 37s;
}
.tr19{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 39s;
}
.tr20{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 41s;
}
.tr21{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 43s;
}
.tr22{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 45s;
}
.tr23{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 47s;
}
.tr24{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 49s;
}
.tr25{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 51s;
}
.tr26{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 53s;
}
.tr27{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 55s;
}
.tr28{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 57s;
}
.tr29{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 59s;
}
.tr30{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 61s;
}
.tr31{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 63s;
}
.tr32{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 65s;
}
.tr33{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 67s;
}
.tr34{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 69s;
}
.tr35{
	animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 71s;
}
.tr36{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 73s;
}
.tr37{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 75s;
}
.tr38{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 77s;
}
.tr39{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 79s;
}
.tr40{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 81s;
}
.tr41{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 83s;
}
.tr42{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 85s;
}
.tr43{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 87s;
}
.tr44{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 89s;
}
.tr45{
    animation-name: playlistpulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 91s;
}
